.square {
  width: 80px;
  height: 80px;
  border: 2px solid var(--square-outline);
}

.lightSquare {
  background-color: var(--light-square);
}

.darkSquare {
  background-color: var(--dark-square);
}
